body {
  background-color: palevioletred;
}

h1 {
  color: navy;
}
img {
  display: block;
  max-width:230px;
  max-height:95px;
  width:  auto;
  height: auto;
}
/*found from user on stack over flow to preserve image aspect ratio*/
